@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

<<<<<<< Updated upstream
=======
@font-face {
    font-family: 'm6x11';
    src: url('http://127.0.0.1:8000/fonts/m6x11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

>>>>>>> Stashed changes
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
